<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>balticode_dpd_courier</name>
	<displayName><![CDATA[DPD kurjeris]]></displayName>
	<version><![CDATA[0.2]]></version>
	<description><![CDATA[DPD offers high-quality shipping service from Lithuania to whole Europe.]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete your details?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>